*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif !important;
}

html, body, .App, #root{
    height: 100%;
    width: 100%;
}

#root::before{
    content: '';
    background: url("./Assets/home_background.jpg");
    /* Add the blur effect */
    position: absolute;
    top: 0;
    left: 0;

    /* Full height */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}


